@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.layout {
  color: #fff;
  font-family: "Inter";
  padding: 0 16px;
  min-height: 982px;
  background: linear-gradient(
      2deg,
      #101010 79.11%,
      rgba(0, 0, 0, 0) 103.73%,
      rgba(0, 0, 0, 0) 103.73%
    ),
    linear-gradient(174deg, #a060fa 17.25%, #c800cc 58.14%);

  .header {
    padding-top: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .back-button {
      cursor: pointer;
      display: flex;
      gap: 4px;
      position: absolute;
      top: 35px;
      left: 12%;

      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 27px */
      letter-spacing: 0.09px;
    }
    .title {
      display: flex;
      gap: 10px;

      h6 {
        margin: 0;
        padding: 0;

        color: #fcfcfc;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 133%; /* 31.92px */
        letter-spacing: -0.48px;
      }
    }
  }
  .container {
    margin: 0 auto;
    margin-top: 68px;
    width: 100%;
    max-width: 1018px;
    padding-bottom: 68px;
    .utility {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 32px;

      .search {
        border-radius: 4px;
        border: 1px solid #333;
        background: #171717;
        padding: 10px 12px;
        display: flex;
        gap: 8px;

        input {
          background-color: transparent;
          border: none;
          color: #f6f6f6;

          &::placeholder {
            color: #898e9a;
            font-family: "Inter";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
          }

          &:focus {
            outline: none;
          }
        }
      }
      .import {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 10px 7px;
        border: 1px solid #fcfcfc;
        min-width: 124px;
        cursor: pointer;

        color: #fcfcfc;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 133%; /* 18.62px */
        letter-spacing: 0.056px;
      }
    }
    .category {
      border-radius: 12px;
      background: #1e1e1e;
      padding: 16px 32px;
      margin-bottom: 24px;
      display: flex;
      align-items: center;

      .category-title {
        margin-right: 12px;

        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 133%; /* 18.62px */
        letter-spacing: 0.056px;
      }
      .category-lists {
        display: flex;
        gap: 12px;

        .list {
          cursor: pointer;
          border-radius: 12px;
          border: 1px solid #eee;
          padding: 8px 16px;
          color: #f6f6f6;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 133%; /* 18.62px */
          letter-spacing: 0.056px;
        }
      }
      .icon {
        display: flex;
        margin-left: 24px;
        cursor: pointer;
      }
    }
    .product-lists {
      display: grid;
      grid-template-columns: repeat(4, minmax(196px, 1fr));
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 44px;

      .item {
        padding: 16px;
        min-height: 174px;
        max-width: 196px;
        border-radius: 12px;
        border: 2px dashed var(--semantic-background-bg-black-4, #313131);
        background: var(--semantic-background-bg-black-2, #1e1e1e);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        cursor: pointer;

        .price {
          color: var(--gray-50, var(--gray-50, #eff0f2));
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 143%; /* 22.88px */
          letter-spacing: 0.04px;
        }

        .thumbnail {
          border-radius: 8px;
          img {
            width: 100%;
          }
        }

        .item-title {
          color: #a060fa;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 143%; /* 22.88px */
          letter-spacing: 0.04px;
        }

        .item-desc {
          color: #9f9e9f;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 133%; /* 18.62px */
          letter-spacing: 0.056px;
        }

        .stock {
          color: #eff0f2;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 133%; /* 18.62px */
          letter-spacing: 0.056px;
        }

        .add {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 12px;
        }

        .add-icon {
          width: 24px;
        }
      }
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1e1e1e;
    display: flex;
    .step {
      width: 252px;
      color: #9f9e9f;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 133%; /* 18.62px */
      letter-spacing: 0.056px;
      padding: 12px 0;
      flex: 1;
      &.active {
        border-top: 4px solid #ef9533;
        color: #ef9533;
      }
      &.next {
        color: #fcfcfc;
        background: #ab5cfa;
      }
    }
  }
}

.modal-layout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  font-family: "Inter";

  .modal-bg {
    background: rgba(23, 23, 23, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
  }
  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    display: flex;
    gap: 27px;

    .modal-form {
      padding: 38px 32px;
      border-radius: 8px;
      background: #222;
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 536px;
      flex: 1;
      overflow-y: auto;
      max-height: calc(100vh - 150px);

      .form-close {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
      }

      .form-title {
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 27px */
        letter-spacing: 0.09px;
        margin-bottom: 28px;
      }

      .form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .form-row {
          width: 100%;
          display: flex;
          gap: 20px;
          &.between {
            justify-content: space-between;
            align-items: center;
          }
        }

        .input-wrapper {
          width: 100%;
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 4px;

          label {
            color: #c9cacb;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 133%; /* 18.62px */
            letter-spacing: 0.056px;

            span {
              color: #f47566;

              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              line-height: 120%; /* 14.4px */
            }
          }
          .input-box {
            border-radius: 4px;
            border: 1px solid #333;
            background: #171717;
            padding: 10px 12px;
            gap: 4px;
            display: flex;

            &.full {
              padding: 0;
            }

            input {
              background-color: transparent;
              border: none;
              color: #f6f6f6;
              width: 100%;
              height: 100%;
              &::placeholder {
                color: #898e9a;
                font-family: "Inter";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
              }

              &:focus {
                outline: none;
              }
            }

            input[type="file"] {
              display: none;
            }
            .label-upload {
              cursor: pointer;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex: 1;
              padding: 10px 12px;
              img {
                width: 20px;
              }
            }

            select {
              padding: 10px 12px;
              background-color: transparent;
              border: none;
              color: #eff0f2;
              width: 100%;
              height: 100%;
              -moz-appearance: none;
              -webkit-appearance: none;
              appearance: none;
              background-image: url("../public/assets/icons/nav-arrow-down-icon.png");
              background-repeat: no-repeat, repeat;
              background-position: right 0.7em top 50%, 0 0;
              background-size: 20px auto, 100%;

              &::placeholder {
                color: #eff0f2;
                font-family: "Inter";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
              }
              &::selection {
                color: #eff0f2;
              }

              &:focus {
                outline: none;
              }
            }

            textarea {
              background-color: transparent;
              border: none;
              color: #f6f6f6;
              width: 100%;
              height: 100%;
              resize: none;
              &::placeholder {
                color: #898e9a;
                font-family: "Inter";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
              }

              &:focus {
                outline: none;
              }
            }
          }
        }

        .form-button {
          cursor: pointer;
          border-radius: 6px;
          background: linear-gradient(90deg, #a060fa 22.29%, #c800cc 81.69%);
          padding: 12px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          font-family: "Poppins";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 143%; /* 22.88px */
          letter-spacing: 0.04px;
        }

        .toggle-title {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .toggle {
          display: flex;
          align-items: center;
          justify-content: center;

          input[type="checkbox"] {
            height: 0;
            width: 0;
            visibility: hidden;
          }

          label {
            cursor: pointer;
            text-indent: -9999px;
            width: 32px;
            height: 16px;
            background: #2b2e34;
            display: block;
            border-radius: 100px;
            position: relative;
          }

          label:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            background: #eff0f2;
            border-radius: 50%;
            transition: 0.3s;
          }

          input:checked + label {
            background: #68da55;
          }

          input:checked + label:after {
            left: 100%;
            transform: translateX(-100%);
          }

          label:active:after {
            width: 8px;
          }
        }
      }
    }
    .modal-tips {
      min-width: 180px;
      max-height: 153px;
      padding: 20px;
      border-radius: 8px;
      flex: 0.5;
      background: linear-gradient(90deg, #a060fa 22.29%, #c800cc 81.69%);

      .tips-title {
        color: #f6f6f6;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 143%; /* 22.88px */
        letter-spacing: 0.04px;
        margin-bottom: 16px;
      }
      .tips-content {
        color: #f6f6f6;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 133%; /* 18.62px */
        letter-spacing: 0.056px;
      }
    }
  }
}
